header {
	--bg: url(/img/bg1.jpg);

	display: flex;
	width: calc(100% - calc(2 * var(--gutter-header)));
	padding: 280px var(--gutter-header) 100px var(--gutter-header);

	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;

	background-image:
		linear-gradient(60deg, #00000080, #00000000 100%),
		var(--bg);
	background-position-y: 60%;
	background-size: cover;

	color: white;
}

@media screen and (min-width: 1200px) {
	header {
		min-height: 500px;
	}
}

header h1 {
	color: white;
}

header p {
	font-size: 32px;
	line-height: 40px;
}

header .green {
	color: var(--green-light);
}

header .italics {
	font-style: italic;
}
