:root {
  --green-dark: #0fa34d;
  --green-light: #13d263;

  --opacity-body: 0.8;
  --opacity-foot: 0.6;
  --opacity-grey: 0.1;

  --y: 0px;

  overflow-x: hidden;

  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

@media screen and (max-width: 1200px) {
  :root {
    --padding: 50px;
    --padding-card: 25px;

    --gap: 50px;
    --gap-card: 10px;

    --gutter: max(calc(50vw - 250px), 50px);
    --gutter-header: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
  :root {
    --padding: 75px;
    --padding-card: 50px;

    --gap: 50px;
    --gap-card: 25px;

    --gutter: max(calc(50vw - 500px), 100px);
    --gutter-header: var(--gutter);
  }
}

@media screen and (min-width: 1800px) {
  :root {
    --padding: 150px;
    --padding-card: 50px;

    --gap: 50px;
    --gap-card: 25px;

    --gutter: calc(50vw - 750px);
    --gutter-header: var(--gutter);
  }
}

body {
  width: 100vw;
  margin: 0px;

  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

h1, h2 {
  margin: 0px;

  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 128px;
  line-height: 128px;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  h1 {
    font-size: 88px;
    line-height: 88px;
  }
}

h2 {
  color: var(--green-dark);
  font-size: 64px;
  line-height: 64px;
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 48px;
    line-height: 48px;
  }
}

h3, p, ul, ol {
  margin: 0px;

  opacity: var(--opacity-body);
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

p {
  line-height: 28px;
}

ul ul, ul ol, ul p, ol ul, ol ol, ol p {
  opacity: 1;
}

a {
  color: var(--green-dark);
  text-decoration: none;
}

a:hover {
  color: var(--green-light);
}

a.button, button {
  padding: 8px 23px;

  border: 1px solid var(--border);

  background: transparent;
  background-image: linear-gradient(
    90deg,
    var(--background-active) 0%,
    var(--background-active) 50%,
    var(--background) 50%,
    var(--background) 100%
  );
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 202% 100%;

  color: var(--text);
  font-size: 1em;
  text-decoration: none;

  transition: all 250ms;

  appearance: none;
  cursor: pointer;
}

a.button:hover, button:hover {
  background-position-x: left;

  color: var(--text-active);
}

a.button.green, button.green {
  --background: var(--green-dark);
  --background-active: transparent;

  --border: var(--green-dark);

  --text: white;
  --text-active: var(--green-dark);
}

a.button.white, button.white {
  --background: transparent;
  --background-active: white;

  --border: white;

  --text: white;
  --text-active: var(--green-dark);
}

address {
  font-style: normal;
}

blockquote, figure {
  margin: 0px;
}

blockquote {
  font-style: italic;
}

input, textarea {
  padding: 8px;

  border: 1px solid black;

  font-family: "Ubuntu", sans-serif;
  font-size: 20px;

  appearance: none;
}

input::placeholder, textarea::placeholder {
  opacity: var(--opacity-foot);

  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

textarea {
  height: 4em;

  resize: none;
}
